SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
FROM_EMAIL=
GEMINI_API_KEY=
MERCADOPAGO_ACCESS_TOKEN=
EHM_USER_TOKEN=
EHM_TOKEN=
ASAAS_API_KEY=
ASAAS_WEBHOOK_TOKEN=
ASAAS_WEBHOOK_SECRET=
MERCADO_PAGO_TOKEN=
WHATSAPP_API_URL=
WHATSAPP_API_TOKEN=
